.icon-back {
    font-size: 20px;
    margin-top: 16px;
    color: #656565;
    margin-bottom: 30px;
}
.icon-key {
    position: absolute;
    font-size: 40px;
    top: -2px;
    left: 169px;
    color:#1b173c;
}
.wrapper__icon {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}
.header__label {
    font-weight: bold;
    color: #1b173c;
}

.content__wrapper {
    margin-top: 114px;
    display: block;

    .content__wrapper-input {
        display: flex;
        justify-content: center;
        background-color: #f7f7f7;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 4px;
        .ion-lock  {
            margin: 15px 6px 8px 8px;
        }
        .ion-eye {
            margin: 15px 10px 8px 10px;
            color: #d1d1d1;
            font-size: 17px;
        }
        .icon-eye-throught {
            margin: 15px 10px 8px 10px;
             display: none;
             font-size: 17px;
        }
        .content__label-input {
            color: #676767;
            font-size: 13px;
            outline: none;
            font-family: 'Open Sans', sans-serif;
        }
        .content__input {
            font-family: 'Open Sans', sans-serif;
            height: 50px;
            color: #a8afbc;
            font-size: 13px;
            background-color: #f7f7f7;
            padding: 0px;
            border: 0;
            width: 80%;
            &:focus {
                outline: none;
        }
    }
    }
    .content__btn-change {
        width: 100%;
        --background-color: #c90a1b;
        border-radius: 4px;
        --background: #c90a1b;
        color: white;
        margin-top: 160px;
        height: 42px;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

