.icon-back {
    font-size: 20px;
    margin-top: 16px;
    color: #656565;
    margin-bottom: 30px;
}
.icon-key {
    position: absolute;
    font-size: 40px;
    top: -2px;
    left: 169px;
}
.wrapper__icon {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}
.header__label {
    font-weight: bold;
}
.content__wrapper {
    margin-top: 114px;
    display: block;

    .content__label-input {
        color: #a8afbc;
        font-size: 12px;
        margin-bottom: 10px;
        outline: none;
        font-family: 'Open Sans', sans-serif;
    }
    .content__input {
        font-family: 'Open Sans', sans-serif;
        height: 32px;
        color: #a8afbc;
        font-size: 13px;
        margin-bottom: 17px;
        background-color: #f7f7f7;
        border-radius: 6px;
        border: 1px solid #aeb2b5;
        padding: 0 6px;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    .content__btn-change {
        width: 100%;
        --background-color: #c90a1b;
        border-radius: 4px;
        --background: #c90a1b;
        color: white;
        margin-top: 170px;
        margin-bottom: 18px;
        height: 42px;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .content__btn-change.content__btn-cancel {
        --background-color: white;
        margin-top: 0px;
        --background: white;
        color: #aeb2b5;
    }
}

