
<ion-header class="ion-padding">
  <ion-icon name="chevron-back-outline" class="icon-back"routerLink="/home">
  </ion-icon>
</ion-header>
<ion-content class ="ion-padding">
  <ion-item-group class ="wrapper__icon">
    <ion-icon name="key-outline" class="icon-key"></ion-icon>
    <ion-label class="header__label">NEW PASSWORD</ion-label>
  </ion-item-group>
 
  <ion-item-group class = "content__wrapper">
    <ion-item-group class ="content__wrapper-input">
        <ion-icon name="lock-closed-outline" class ="ion-lock"></ion-icon>
      <input type="text" class ="content__input" placeholder="New Password" >
      <ion-icon name="eye-outline" class="ion-eye" (click)="changeThrought()"></ion-icon>
      <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
    </ion-item-group>

    <ion-item-group class ="content__wrapper-input">
      <ion-icon name="lock-closed-outline" class ="ion-lock"></ion-icon>
    <input type="text" class ="content__input" placeholder="Confirm Password" >
    <ion-icon name="eye-outline" class="ion-eye"(click)="changeThrought()"></ion-icon>
    <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
  </ion-item-group>

  <ion-button class ="content__btn-change"  type="button" >Update</ion-button>
  </ion-item-group>   

 
</ion-content>
