<ion-header lines="no">
  <ion-button fill="clear" size="small" class="back-button" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card-title>Detail order</ion-card-title>
</ion-header>

<ion-content>
  <ion-card class="card-title ion-text-center">
    <ion-card-header>
      <ion-card-title class="title"> {{ item.name }}</ion-card-title>
      <div class="status-box">
        <span class="circle" [style.background]="getStatusColor(item)"></span>
        <span class="status-name"> {{ data.status }}</span>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <span class="name" slot="start">ID</span>
          <div class="content" slot="end">{{ data.id }}</div>
        </ion-item>
        <ion-item *ngFor="let item of items">
          <span class="name" slot="start">{{ item.name }}</span>
          <div class="content" slot="end">
            {{ item.date }} {{ item.time }}
          </div>
        </ion-item>
      </ion-list>
      <ion-button class="btn btn-margin-top" *ngIf="checkConfirmedStatus()">Re-order</ion-button>
    </ion-card-content>
  </ion-card>

  <p class="ion-text-center" style="font-size: 12px; color: #727272;" *ngIf="checkCancelStatus()">You can't view detail component product <br> with cancel order</p>

  <ion-grid class="products">
    <ion-row *ngFor="let product of data.order_details" class="product">
      <ion-col size="6">
        <ion-img [src]="product.src"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-row class="heading-box">
          <span class="amount">{{ product.amount }}</span>
          <span class="product-name">{{ product.name }}</span>
        </ion-row>
        <ion-row class="ion-nowrap" style="overflow-x: scroll;">
          <ion-col size="7" *ngFor="let accessory of product.accessories">
            <ion-img [src]="accessory.src"></ion-img>
            <span class="accessory-name">{{ accessory.name }}</span>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-button class="btn btn-absolute" routerLink="/main/order-status/detail-order/detail-component" *ngIf="checkPremiumPermission()">View detail component</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>