ion-header{
    ion-toolbar{
        ion-buttons{
            ion-back-button{
                --color:#6D6D6D;
                span{
                    display: none;
                }
              }
        }
    }
    .back-button-text {
        display: none;
      }
  
}