
<ion-header class="ion-padding">
  <ion-icon name="chevron-back-outline" class="icon-back"routerLink="/home">
  </ion-icon>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group class="header">
    <img src="assets/img/auth/resetpass.svg" alt="" class="header__lock">
      <ion-label class="header__label">RESET PASSWORD !</ion-label>
      <ion-label class="header__label--code"> Enter code we have sent to email</ion-label>
      <ion-label class="header__label--email" ([ngModel])="data">
        {{data.email}}
      </ion-label>
  </ion-item-group>
      <ion-row>
          <ion-col class ="digit-code">
            <form [formGroup]="inputCode"(ngSubmit)="onSubmit()">
              <input class="digit-code__input"  placeholder="7" type="number"  required maxlength="1" formControlName="code1" >
              <input class="digit-code__input"  placeholder="2" type="number"  formControlName="code2">
              <input class="digit-code__input"  placeholder="4" type="number"  formControlName="code3">
              <input class="digit-code__input"  placeholder="6" type="number"  formControlName="code4">
              <input class="digit-code__input"  placeholder="4" type="number"  formControlName="code5">
              <input class="digit-code__input"  placeholder="6" type="number"  formControlName="code6">
              <ion-item-group class="question">
                <ion-label class="question__not-received">
                    Didn’t not received the code?
                </ion-label>
                <ion-label class="question__resend-code"routerLink="/home">
                    Resend Code
                </ion-label>
                
    </ion-item-group>
          <ion-button class="btn-signin" type="submit">Procced</ion-button>
          </form>
      </ion-col>
  </ion-row> 
     
  
</ion-content>
