<ion-header>
  <ion-button fill="clear" size="small" class="back-button" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card-title>Information product</ion-card-title>
</ion-header>

<ion-content>
  <ion-card class="product">
    <ion-card-content>
      <div class="img-box">
        <ion-img src="http://lorempixel.com/g/334/170/abstract"></ion-img>
      </div>
      <ion-card-subtitle>Product name</ion-card-subtitle>
      <ul>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
      </ul>
      <ion-button size="small" class="detail-button" (click)="goToDetail()">
        Detail
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
    <ion-fab-button class="add-product-button" (click)="presentToast()" *ngIf="!checkGuestPermission()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-card>

  <ion-card class="accessories">
    <ion-card-header class="ion-text-center">
      <span *ngIf="!checkGuestPermission()">Add product<br> with accessories below</span>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="accessories-heading">
        <span>Accessories</span>
        <ion-button class="add-all-button" slot="end" (click)="selectAllItem()" *ngIf="!checkGuestPermission()">
          Add all accessories
          <ion-icon name="add-circle-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-grid>
        <ion-row *ngFor="let accessory of accessories" [style.background]="getItem(accessory).background"
          (click)="toggleItem(accessory)">
          <ion-col size="4">
            <ion-img [src]="accessory.src"></ion-img>
          </ion-col>
          <ion-col size="8">
            <div class="content-block" [style.color]="getItem(accessory).color">
              <ion-label>{{ accessory.name }}</ion-label>
              <p>{{ accessory.desc }}</p>
            </div>
          </ion-col>
          <span class="accessories-item-icon" *ngIf="!checkGuestPermission()">
            <ion-icon name="{{ getItem(accessory).iconName }}"></ion-icon>
          </span>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="cart-button" *ngIf="!checkGuestPermission()"
    (click)="goToCart()">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <span>{{ counter }}</span>
  </ion-fab>
</ion-content>