ion-content {
  --background: #ffffff;
}

.list-ios,
.list-md {
  background: #ffffff;
}

ion-content {
  overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 80px);
  bottom: 0;
}

ion-header {
  background: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .back-button {
    position: absolute;
    top: 25%;
    left: 10px;
    font-size: 19px;
    z-index: 1000;
    color: #232323;
  }

  ion-card-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #232323;

    @media screen and (max-width: 320px) {
      font-size: 16px;
    }
  }
}

ion-row {
  height: 100px;
  overflow-x: scroll;
  margin: 30px 12px;

  ion-col {
    background: #EFEFEF;
    margin-right: 12px;
    border-radius: 11px;
    overflow: auto;
    color: #515151;
    border: 1px solid #515151;
  }
}
