ion-header {
    .icon-back{
        font-size: 25px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .title{
        display: block;
        font-size: 22px;
        font-weight: 700;
        margin-top: 1rem;
        text-align: center;
    }
}
ion-content{
    .button-sign-up{
        --background:#CE091C;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    .have-account{
        display: block;
        margin-top: 50px;
        
        text-align: center;
    }
    .goto-sign-in{
        display: block;
        margin-top: none;
        text-align: center;
        
    }
}
