ion-header{
    background-color: #232323;
}
ion-content{
    --background: #232323;
    overflow-y: hidden;
}
.ion-heading{
    margin-top: 5vh;
    margin-bottom: 1.2rem;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    &__element__text{
        position: absolute;
        margin-left: 40vw;
        margin-right: 2rem;
    }
    &__element__shop-icon{
        position: absolute;
        margin-left: 70vw;
        width: 30px;
    }
    &__element__back{
        margin-left: 26px;
    }
}
.section__main{
    --background:#EFEFEF;
    margin: 0 0 0 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    overflow-y: scroll;
}
.detail__wrapper{
    --background: #F9F9FB;
    --padding-start: 0rem;
    --padding-end:0rem;
    --border-radius: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    left:3%;
    width: 95%;
    .item__price-tag{
        font-size: 14px;
        color: white;
        font-weight: 400;
        --border-radius: 2rem;
        --padding-start: 1rem;
        --background: linear-gradient(to left, #B31217, #E52D27);
        &__text{
            display: flex;
            --padding-end: -5rem;
        }
        &__slash{
            font-size: 14px;
            margin-left: 1rem;
            margin-right: 0.3rem;
        }
    }
    .item__deliver-icon{
        font-size: 15px;
        height: 14px;
        width: auto;
        margin-left: 6rem;
    }
    .item__day-to-delive{
        margin-right: 0;
        font-weight: 400;
        width: 40px;
    }
}
.order__main{
    font-size: 18px;
    font-weight: 700;
    color: 232323, 100%;
    text-align: center;
    padding-top: 1rem;
    box-shadow: none;
}
.product{
    --background:#D3D3D3;
    box-shadow: none;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 16px;
    height: 205px;
    &__title{
        margin-bottom: 1rem;
        overflow: visible;
    }
    &__cancel{
        margin-left: 40vw;
        width: 14px;
    }
    &__wrapper{
        --padding-start: 0rem;
        margin-left: -0.5rem;
        border-radius: 2rem;    
        &__price{
            font-size: 14px;
            color: white;
            font-weight: 400;
            --border-radius: 2rem;
            --padding-start: 1.8rem;
            --padding-end: 1rem;
            --background: linear-gradient(to left, #B31217, #E52D27);
        }
    }
    &__deliver-icon{
        margin-left: 10rem;
    }
    &__accessories{
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.section__button{
    width: 115px;
    position: absolute;
    height: auto;
    font-size: 19px;
    padding-right: 0;
    margin-left: 35%;
    margin-top: -3rem;
    margin-bottom: 1.3rem;
    --padding-start: 3px;
    --inner-padding-end: 3px;
    --padding-top: -1rem;
    --inner-padding-top: -1rem;
    --border-radius: 2rem;
    &__minus{
        margin-right: 1rem;
        width: 90px;
        height: auto;
    }
    &__add{
        margin-left: 1rem;
        width: 90px;
    }
}
.footer{
    height: 10%;
    font-size: 20px;
    --background: white;
    &__item{
        font-size: 9px;
        margin-left: 5vw;
    }
    &__delive-day{
        font-size: 15px;
        margin-top: 0%;
        margin-left: 5vw;
    }
    &__price{
        font-size: 24px;
        color: #B31217;
        margin-left: 5vw;
    }
    &__export{
       
        font-size: 15px;
        width: 191px;
        height: 50px;
        color: white;
        margin-top: 1rem;
        text-align: center;
        border: 1px solid;
        --border-radius: 31px;
        --background: linear-gradient(to left, #B31217, #E52D27);
    }
}

@media only screen and (max-width: 322px){
    .detail__wrapper{
        .item__deliver-icon{
            height: 14px;
            width: auto;
            margin-left: 3rem;
        }
    }
    .product{
        .product__cancel{
            margin-left: 30vw;
        }
    }
    .product__wrapper{
        .product__deliver-icon{
            margin-left: 6rem;
        }
        .product__day-to-delive{
            margin-right: 0;
        }
    }
}
@media (max-height: 670px){
    .footer{
        .footer__export{
            position: absolute;
            margin-bottom: 10px;
            left: 40%;
        }
    }
}
@media (max-width: 330px){
    .footer{
        .footer__export{
            width: 150px;
            position: absolute;
            margin-bottom: 20px;
            left: 40%;
        }
    }
}
