<ion-header>
  <ion-row no-lines>
      <ion-col class="ion-heading">
          <ion-img class="ion-heading__element__back" src="../../assets/back.svg"></ion-img>
          <ion-label class="ion-heading__element__text">DETAIL</ion-label>
          <ion-img class="ion-heading__element__shop-icon" src="../../assets/shopping.svg"></ion-img>
      </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card class="section__main">
    <ion-card class="order__main">
      Item 12/12/1212
      <ion-item class="detail__wrapper" lines="none">
        <ion-item class="item__price-tag">
                450$
                <ion-img class="item__price-tag__slash" src="../../assets/slash.svg"></ion-img>
                3 Products
        </ion-item>
        <ion-img class="item__deliver-icon" src="../../assets/delive.svg" end></ion-img>
        <ion-label class="item__day-to-delive">1 day</ion-label>           
      </ion-item> 
    </ion-card>

    <ion-card class="product">
      <ion-row class="product__title">
        PRODUCT NAME 1
        <ion-img class="product__cancel" src="../../assets/x-icon.svg"></ion-img>
      </ion-row>
      <ion-item class="product__wrapper" lines="none">
        <ion-item class="product__wrapper__price" lines="none">150$</ion-item>
        <ion-img class="product__deliver-icon" src="../../assets/delive.svg" end></ion-img>
        <ion-label class="product__day-to-delive">1 day</ion-label>        
      </ion-item>
      <ion-item class="product__accessories" lines="none">
        Accessories Accessories, Accessories Accessories,......
      </ion-item>
    </ion-card>
    <ion-item class="section__button" no-padding lines="none" position="fixed">
      <ion-img src="../../assets/minus.svg" class="section__button__minus"></ion-img>
      1
      <ion-img src="../../assets/add.svg" class="section__button__add"></ion-img>
    </ion-item>

    <ion-card class="product">
      <ion-row class="product__title">
        PRODUCT NAME 1
        <ion-img class="product__cancel" src="../../assets/x-icon.svg"></ion-img>
      </ion-row>
      <ion-item class="product__wrapper" lines="none">
        <ion-item class="product__wrapper__price" lines="none">150$</ion-item>
        <ion-img class="product__deliver-icon" src="../../assets/delive.svg" end></ion-img>
        <ion-label class="product__day-to-delive">1 day</ion-label>        
      </ion-item>
      <ion-item class="product__accessories" lines="none">
        Accessories Accessories, Accessories Accessories, ... 
      </ion-item>
    </ion-card>
    <ion-item class="section__button" no-padding lines="none" position="fixed">
      <ion-img src="../../assets/minus.svg" class="section__button__minus"></ion-img>
      1
      <ion-img src="../../assets/add.svg" class="section__button__add"></ion-img>
    </ion-item>

    <ion-card class="product">
      <ion-row class="product__title">
        PRODUCT NAME 1
        <ion-img class="product__cancel" src="../../assets/x-icon.svg"></ion-img>
      </ion-row>
      <ion-item class="product__wrapper" lines="none">
        <ion-item class="product__wrapper__price" lines="none">150$</ion-item>
        <ion-img class="product__deliver-icon" src="../../assets/delive.svg" end></ion-img>
        <ion-label class="product__day-to-delive">1 day</ion-label>        
      </ion-item>
      <ion-item class="product__accessories" lines="none">
        Accessories Accessories, Accessories Accessories, ... 
      </ion-item>
    </ion-card>
    <ion-item class="section__button" no-padding lines="none" position="fixed">
      <ion-img src="../../assets/minus.svg" class="section__button__minus"></ion-img>
      1
      <ion-img src="../../assets/add.svg" class="section__button__add"></ion-img>
    </ion-item>

  </ion-card>
</ion-content>