<ion-header lines="no">
  <ion-button fill="clear" size="small" class="ion-no-padding back-button" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card-title>Order status</ion-card-title>
</ion-header>

<ion-content class="ion-padding">
  <ion-button class="heading" expand="block" size="small" disabled>Item 12/12/1212</ion-button>
  <ion-list>
    <ion-item lines="none" *ngFor="let status of statuses" (click)="goToChild(status)">
      <ion-icon name="{{ status.iconName }}" class="icon"></ion-icon>
      <ion-item-group>
        <ion-card-subtitle>{{ status.name }}</ion-card-subtitle>
        <ion-label>
          {{ status.time }} {{ status.date }}
        </ion-label>
      </ion-item-group>
      <ion-icon *ngIf="status.childSrc && status.didPassed" name="chevron-forward-outline" class="shipping-button"></ion-icon>
    </ion-item>

    <div class="line-bottom">
      <span *ngFor="let status of statuses" [style.background]="status.didPassed ? '#93e29d': '#dededf'"></span>
    </div>
    <div class="line-top" [style.height]="sanitizer.bypassSecurityTrustStyle(text)"></div>
  </ion-list>
  <ion-button size="small" class="detail-button" (click)="goToDetailOrder()">Detail Order</ion-button>
</ion-content>