ion-content,
ion-list,
ion-item {
  --background: #efefef;
}

.list-ios,
.list-md {
  background: #efefef;
}

ion-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 80px);
  bottom: 0;
}

ion-header {
  background: #232323;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .back-button {
    position: absolute;
    top: 25%;
    left: 10px;
    font-size: 19px;
    z-index: 1000;
    color: white;
  }

  ion-card-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: 320px) {
      font-size: 16px;
    }
  }
}

.heading {
  margin: 5px 30px 35px;
  --background: white;
  --color: #515151;
  opacity: 1;
  --box-shadow: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  --border-radius: 14px;
}

ion-list {
  height: 70%;
  position: relative;
  padding-left: 35px;

  @media screen and (max-height: 568px) {
    padding-left: 8px;
  }
}

ion-item {
  height: 20%;
  align-items: flex-start;
  position: relative;

  &:first-child {
    .icon {
      background: rgba(#6242fa, 0.2);
      color: #6242fa;
    }
  }

  &:nth-child(2) {
    .icon {
      background: rgba(#3398ba, 0.2);
      color: #3398ba;
    }
  }

  &:nth-child(3) {
    .icon {
      background: rgba(#b94b30, 0.2);
      color: #b94b30;
    }
  }

  &:nth-child(4) {
    .icon {
      background: rgba(#00d369, 0.2);
      color: #00d369;
    }
  }

  &:nth-child(5) {
    .icon {
      background: rgba(#daa300, 0.2);
      color: #daa300;
    }
  }

  .icon {
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;

    @media screen and (max-width: 320px) {
      padding: 10px;
    }
  }

  ion-card-subtitle {
    text-transform: none;
    --color: #636363;
    font-weight: 700;
    font-size: 16px;
  }

  ion-label {
    --color: #515151;
    font-size: 15px;
  }
}

.shipping-button {
  position: absolute;
  right: 0px;
  top: 27%;
  color: #6d6d6d;
}

.detail-button {
  font-size: 20px;
  --background: #91E29B;
  --border-radius: 10px;
  float: right;
  padding-block-start: 12px;
  text-transform: none;
}

.line-bottom,
.line-top {
  width: 4px;
  position: absolute;
  top: 25px;
  left: 35px;
  bottom: 0;
  z-index: 1;
  background-color: #dededf;

  @media screen and (max-width: 320px) {
    left: 20px;
  }

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: -4px;

    &:first-child {
      top: -4px;
    }

    &:nth-child(2) {
      top: calc(20% + 4px);
    }

    &:nth-child(3) {
      top: calc(40% + 6px);
    }

    &:nth-child(4) {
      top: calc(60% + 10px);
    }

    &:nth-child(5) {
      top: calc(80% + 16px);
    }
  }
}

.line-top {
  background-color: #93e29d;
}