<form [formGroup]="form" (ngSubmit)="signupForm()">
    
    <ion-label class="input-title">Name</ion-label>
    <ion-input class="input" type="text" formControlName="name"></ion-input>

    <ion-label class="input-title">Email</ion-label>
    <ion-input inputmode="email" class="input" type="email" formControlName="email"></ion-input>

    <ion-label class="input-title">Password</ion-label>
    <br>
    <ion-label class="input-description">Use 8 or more characterswith a mix of letters, numbers, symbols.</ion-label>
    <ion-input type="password" class="input" formControlName="password"></ion-input>

    <ion-label class="input-title">Confirm Password</ion-label>
    <ion-input type="password" class="input" formControlName="repassword"></ion-input>

    <ion-button class="button-sign-up" type="submit">Sign up My Account</ion-button>
</form>