<ion-label class="input-title">Name</ion-label>
<ion-input class="input"></ion-input>

<ion-label class="input-title">Email</ion-label>
<ion-input inputmode="email" class="input"></ion-input>

<ion-label class="input-title">Password</ion-label>
<br>
<ion-label class="input-description">Use 8 or more characterswith a mix of letters, numbers, symbols.</ion-label>
<ion-input type="password" class="input"></ion-input>

<ion-label class="input-title">Confirm Password</ion-label>
<ion-input type="password" class="input"></ion-input>