<form [formGroup]="form" (ngSubmit)="signupForm()">
    
    <ion-label class="input-title">Name</ion-label>
    <ion-input class="input nobackground" type="text" formControlName="name"></ion-input>

    <ion-label class="input-title">Email</ion-label>
    <ion-input inputmode="email" class="input" type="email" formControlName="email"></ion-input>

    <ion-label class="input-title">Password</ion-label>
    <br>
    <ion-label class="input-description">Use 8 or more characterswith a mix of letters, numbers, symbols.</ion-label>
    <ion-item-group class="input-group">
      <ion-input type = "{{ type2 }}" class="input" formControlName="password"></ion-input>
  </ion-item-group>
  <button *ngIf="!showPass2" type = "button" (click)="showPassword2()" class="btn-change-type">
    <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
  </button>
  <button *ngIf="showPass2" type="button" (click)="showPassword2()" class="btn-change-type ">
    <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
  </button>

   

    <ion-label class="input-title">Confirm Password</ion-label>
    <ion-input type="password" class="input" formControlName="repassword"></ion-input>
  
    <ion-button class="button-sign-up" type="submit">Sign up My Account</ion-button>
</form>