<ion-header>
    <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    <ion-label>Detail order</ion-label>
</ion-header>

<ion-content class="ion-padding">
  <ion-button class="heading" expand="block" size="small" disabled>{{ orderCode }}</ion-button>
  <ion-list [style.max-height.px]="statuses.length == 3 ? 500 : 250">
    <ion-item lines="none" *ngFor="let status of statuses" [style.height.%]="100 / statuses.length"
      (click)="goToChild(status)">
      <ion-img *ngIf="status.urlIcon" [src]="status.urlIcon"
        [style.background]="sanitizer.bypassSecurityTrustStyle(status.color)"></ion-img>
      <div *ngIf="status.nameIcon" class="icon-container"
        [style.background]="sanitizer.bypassSecurityTrustStyle(getBackgroundIconText(status))"
        [style.color]="status.color">
        <ion-icon [name]="status.nameIcon"></ion-icon>
      </div>
      <ion-item-group>
        <ion-card-subtitle>{{ status.name | titlecase }}</ion-card-subtitle>
        <ion-label>
          {{ status.time }} {{ status.date }}
        </ion-label>
      </ion-item-group>
      <ion-icon *ngIf="status.urlChild && status.date" name="chevron-forward-outline" class="child-button">
      </ion-icon>
    </ion-item>

    <div class="line-bottom" [style.top.%]="0" [style.transform]="sanitizer.bypassSecurityTrustStyle(getTransform())"
      *ngIf="statuses.length != 0">
      <span *ngFor="let status of statuses; let i = index;" [style.background]="status.date ? '#93e29d': '#dededf'"
        [style.top]="sanitizer.bypassSecurityTrustStyle(getTopLine(i))"></span>
    </div>
    <div class="line-top" [style.top.%]="100 / statuses.length / 2"
      [style.bottom]="sanitizer.bypassSecurityTrustStyle(getBottom())"></div>
  </ion-list>
</ion-content>