<app-header-home></app-header-home>

<ion-content >
  <ion-item-group class ="content">
      <ion-grid >
        <ion-row>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Máy nén khí 56RWT2020</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh2.jpg" class ="ion-card--image">
               <span class="categories__name">Máy hút sâu QQZ220</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh3.jpg" class ="ion-card--image">
               <span class="categories__name">Bộ lọc dầu 66TD2019</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">máy nén khí 56RWT2020</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">máy nén khí 56RWT2020</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">máy nén khí 56RWT2020</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Bộ lọc tạp chất</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Máy nén khí 56RWT2020</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Máy nén khí 56RWT2020</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Bộ lọc tạp chất</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Máy nén khí 56RWT2020</span>
          </ion-col>
          <ion-col (click)="gotodetail()">
            <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
               <span class="categories__name">Máy nén khí 56RWT2020</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>
</ion-content>