:host {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --min-height: 0px;
}
.header-md::after {
  height: 0;
}
ion-content {
  position: absolute;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  top: 135px;
  overflow: hidden;
  background-color: white;
  overflow-y: auto;
  z-index: 11;
  max-height: 614px;
  border-bottom: 0;
}

ion-img {
  border-radius: 16px;
  overflow: hidden;
}

ion-grid {
  background: #efefef;

  ion-col {
    text-align: center;

    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #636363;
      font-size: 15px;
      height: 43px;
      padding: 8px 0;
    }
  }
}

ion-card-header {
  display: block;
  justify-self: center;
  padding: 0;
  border-radius: none;
}
