:host {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --min-height: 0px;
}
.header-md::after {
    height: 0;
}
ion-content {
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: 135px;
    overflow: hidden;
    background-color: white;
    overflow-y: auto;
    z-index: 11;
    max-height: 614px;
    border-bottom: 0;
}
   
ion-grid {
    padding-bottom: 0;
    padding-top: 0;
    background-color:#F2EDED;
}
.content {
    position: relative;
}
.ion-card--image {
    width: 100%;
    height: 75%;
    border-radius: 12px;
    margin-bottom: 5px;
    background-size: cover;
}

ion-row {
    margin: 0px -12px 0px -12px;    
    padding: 8px 12px 10px 12px;
}
ion-row:first-child {
    padding-top: 10px;
}

ion-col {
    height: 161px;
    padding: 0px 5px;
    text-align: center;
}
.categories__name {
    font-size: 13px;
    width: 100%;
    text-align: center;
}

 ion-card-header {
    display: block;
    justify-self: center;
     padding: 0;
     border-radius: none;
 }

 @media screen and (min-height: 740px) and (max-height: 824px) {
    ion-content {
        max-height: 625px;
    }
    ion-col {
        height: 161px;
        padding: 0 6px;
        .ion-card--image{
            width: 100%;
            height: 69%;
        }
        .categories__name {
            font-size: 14px;
        }
    }
}
 @media screen and (max-height: 812px) {
    ion-content {
        max-height: 614px;
    }
    ion-col {
        height: 161px;     
    }
}
@media screen and (min-height: 732px) and (max-height: 736px) {
    ion-content {
        max-height: 552px;
    }
    ion-col {
        height: 161px;
        .ion-card--image{
            width: 100%;
            height: 69%;
        }
        .categories__name {
            font-size: 14px;
        }
    }
}
@media screen and (max-height: 731px) {
    ion-content {
        max-height: 535px;
    }
    ion-col {
        height: 161px;
        .ion-card--image{
            width: 100%;
            height: 69%;
        }
        .categories__name {
            font-size: 14px;
        }
    }
}
@media screen and (max-height: 667px) {
    ion-content {
        max-height: 470px;
    }
    ion-col {
        height: 161px;
        .ion-card--image{
            width: 100%;
            height: 62%;
        }
        .categories__name {
            font-size: 15px;
        }
    }
}

@media screen and (max-height: 653px) {
    ion-content {
        max-height: 473px;
    }
    ion-col {
        height: 150px;
    }
  
}
@media screen and (max-height: 640px) {
    ion-content {
        max-height: 442px;
    }
    ion-col {
        height: 169px;
        .ion-card--image{
            width: 100%;
            height: 62%;
        }
        .categories__name {
            font-size: 14px;
        }
    }
}
@media screen and (max-height: 569px) {
    ion-content {
        max-height: 374px;
    }
    ion-col {
        height: 169px;
    }
    ion-col {
        height: 149px;
        .ion-card--image{
            width: 100%;
            height: 59%;
        }
        .categories__name {
            font-size: 14px;
        }
    }
}

