
.header__wrapper {
    display: block;
    text-align: center;
    margin-bottom: 110px;
    justify-content: center;
    .header__icon {
        margin-top: 168px;
        width: 82px;
        height: 82px;
        color: white;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        background-color: #42b245;
        position: relative;
        .icon-check {
            font-size: 82px;
            position: absolute;
            left: 3px;
            top: 3px;
        }
    }
    .header__label {
        font-weight: bold;
        font-size: 22px;
    }
}
.question {
    font-size: 13px;
    color: #27233c;
}
.header-md::after {
    background-image: none;
}
.question__wrapper {
    display: block;
    text-align: center;
    justify-content: center;
}

.forgot-password {
   float: right;
   font-size: 13px;
   color: var(--title-color);
   margin-top: 22px;
   margin-bottom: 44px;
  
 }
.btn-signin {
   width: 100%;
   --background-color: var(--main-color);
   border-radius: 4px;
   --background: var(--main-color);
   color: white;
   margin-top: 58px;
   height: 40px;
   margin-inline-start: 0;
   margin-inline-end: 0;
 }
.header__label {
    font-weight: bold;
    font-size: 22px;
}