<ion-content class="ion-padding">
  <ion-item-group class="header__wrapper">
    <ion-avatar class="header__icon">
      <ion-icon name="person" class="header__iperson"></ion-icon>
    </ion-avatar>
    <ion-label class="header__label">WELCOME BACK</ion-label>
  </ion-item-group>
  <form [formGroup]="profileForm" >

    <input type="text" formControlName="email" class="inputname" required  placeholder="Email">
    <ion-item-group class ="content__wrapper-input">
    <input type="{{type}}" class ="inputname inputname__noborder" formControlName="password" required placeholder="Password">

    <!-- <button *ngIf]="!showPass" type = "button" (click)="showPassword()" class="btn-change-type">
      <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
    </button>
    <button *ngIf="showPass" type="button" (click)="showPassword()" class="btn-change-type ">
      <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
    </button> -->
  </ion-item-group>
    <ion-router-link class="forgot-password" (click)="resetPass()">Forgot Password?</ion-router-link>
    <ion-button class="btn-main" type="button" (click)="onSubmit()">Sign in My Account</ion-button>
  </form>

  <ion-item-group class="question__wrapper">
    <ion-router-link class="question">Don't have an account?</ion-router-link><br />
    <ion-router-link class="question">Request an account to Admin user</ion-router-link>
  </ion-item-group>

</ion-content>