.header-md::after {
    height: 0;
}
.header{
    display: block;
    text-align: center;
    margin-bottom: 57px;
    justify-content: center;

    &__lock{
        height: 50px;
        width: auto;
        margin-top: 60px;
        margin-bottom: 7px;
    }
    &__label{
        &-des {
            margin-top: 307px;
            margin-left: 19px;
        }
    }
}
.icon-back {
    font-size: 20px;
    margin-top: 16px;
    color: #656565;
}


.btn-signin {
    width: 100%;
    border-radius: 4px;
    --background: var(--main-color);
    color: white;
    margin-top: 36px;
    height: 40px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    --background-activated: var(--main-color); 
  }
  @media screen and (max-width: 360px) {
    // ion-header {
    //     height: 48px;
    // }
    .header {
        &__lock{
            margin-top: -12px;
        }
    }
   
   

 }
  @media screen and (max-width: 320px) {
    ion-header {
        height: 48px;
    }
    .header {
        &__lock{
            margin-top: -12px;
        }
    }
 }
 
