.icon-back {
    font-size: 14px;
    margin-top: 16px;
    margin-left: -4px;
    color: #656565;
    margin-bottom: 62px;
}
button-text {
    color: white;
}
.change-password--title {
    font-weight: bold;
    color: #3F3F3F;
}
ion-header {
    padding-bottom: 30px;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}
.header-md::after {
    height: 0;
}
ion-toolbar {
    height: 40px;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top:0;
    --border-width: 0;
}
.btn-change-type {
    padding: 0;
    border: 1px;
    border-radius: 25px;
    background-color: #f7f7f7;
}
.content__wrapper {
    .content__label-input--des {
        color: #a8afbc;
        font-size: 11px;
        margin-bottom: 13px;
    }
    display: block;
    &-input {
        display: flex;
        background-color: #F7F7F7 ; 
        border-radius: 11px;
        .ion-eye {
            margin: 15px 10px 8px 10px;
            color: #d1d1d1;
            font-size: 17px;
        }
        .icon-eye-throught {
            margin: 15px 10px 8px 10px;
            
             font-size: 17px;
        }
        &:focus {
            outline: none;
        }
        .content__input {
            height: 50px;
            color: #a8afbc;
            font-size: 16px;
            border: 0;
            border-radius: 11px;
            background-color: #F7F7F7;
            padding: 0 6px;
            outline: none;
            width: 100%;
           
        }
       
    }
    &-label {
        display: flex;
        margin-top: 15.3px;
        margin-bottom: 16px;
    }
    .content__label-input {
        color: #6B6C6D;
        font-size: 13px;
        margin-right: 10px;
        outline: none;
        font-family: 'Open Sans', sans-serif;
    }
   
    .content__label-valid {
        color: red;
    }
    .content__btn-change {
        width: 100%;
        --background-color: #c90a1b;
        border-radius: 4px;
        --background: #c90a1b;
        color: white;
        margin-top: 44px;
        margin-bottom: 18px;
        height: 42px;
        margin-inline-start: 0;
        --background-activated: var(--main-color); 
        margin-inline-end: 0;
    }
    .content__btn-change.content__btn-cancel {
        --background-color: white;
        margin-top: 0px;
        --background-activated: white; 
        --background: white;
        color: #aeb2b5;
    }
}

