

<ion-header class="ion-padding">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="icon-back" routerLink="/account/user-info">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content class ="ion-padding">
  <ion-label class="change-password--title">Change Password</ion-label>
    <form [formGroup] ="formNewPass" (ngSubmit)="onSubmit()">
    <ion-item-group class = "content__wrapper">
      <ion-label class ="content__wrapper-label">
        <ion-label class= "content__label-input">Current password </ion-label>
        <ion-label class= "content__label-valid">*</ion-label>
      </ion-label>

      <ion-item-group class="content__wrapper-input">
        <input  class="content__input"  formControlName = "currentpassword" name ="currentpassword" type="{{type1}}" >
        <button *ngIf="!showPassCurrent" type = "button" (click)="showPasswordCurent()" class="btn-change-type">
          <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
        </button>
        <button *ngIf="showPassCurrent" type="button" (click)="showPasswordCurent()" class="btn-change-type ">
          <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
        </button>
       
    </ion-item-group>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.currentpassword">
          <div class="error-message" *ngIf="formNewPass.get('currentpassword').hasError(error.type) && (formNewPass.get('currentpassword').dirty || formNewPass.get('currentpassword').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <ion-label class ="content__wrapper-label">
          <ion-label class= "content__label-input">New Password</ion-label>
          <ion-label class= "content__label-valid">*</ion-label>
      </ion-label>

      <ion-label  class= "content__label-input--des">Use 8 or more characterswith a mix of letters, numbers, symbols.</ion-label>

      <ion-item-group class="content__wrapper-input">
        <input type="{{type2}}" class="content__input"formControlName = "newpassword" name ="newpassword" >

        <button *ngIf="!showPassNew" type = "button" (click)="showPasswordNew()" class="btn-change-type">
          <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
        </button>
        <button *ngIf="showPassNew" type="button" (click)="showPasswordNew()" class="btn-change-type ">
          <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
        </button>
    </ion-item-group>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.newpassword">
        <div class="error-message" *ngIf="formNewPass.get('newpassword').hasError(error.type) && (formNewPass.get('newpassword').dirty || formNewPass.get('newpassword').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
      <ion-label class ="content__wrapper-label">
        <ion-label class= "content__label-input">New Password again </ion-label>
        <ion-label class= "content__label-valid">*</ion-label>
      </ion-label>
      
      <ion-item-group class="content__wrapper-input">
        <input type="{{type3}}" class="content__input" formControlName = "confirmpassword" name ="confirmpassword" >
        <button *ngIf="!showPassNewAgain" type = "button" (click)="showPasswordNewAgain()" class="btn-change-type">
          <ion-icon name="eye-outline" class="ion-eye"></ion-icon>
        </button>
        <button *ngIf="showPassNewAgain" type="button" (click)="showPasswordNewAgain()" class="btn-change-type ">
          <ion-icon name="eye-off-outline" class="icon-eye-throught"></ion-icon>
        </button>
    </ion-item-group>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.confirmpassword">
        <div class="error-message" *ngIf="formNewPass.get('confirmpassword').hasError(error.type) && (formNewPass.get('confirmpassword').dirty || formNewPass.get('confirmpassword').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <pre *ngIf ="formNewPass.errors" class="not-match not-match-pass">
      
      {{formNewPass.errors.error |json}}
     </pre>
      <ion-button class ="content__btn-change"  type="submit">Change</ion-button>
      <ion-button class ="content__btn-change content__btn-cancel"  type="button">Cancel</ion-button>
    </ion-item-group>

  </form>   
</ion-content>
