:host {
    background-color: white;
    ion-tabs {
        
        ion-tab-bar {
            height: 61px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            background-color: white !important;
            ion-tab-button {
                background-color: white;
                display: flex;
                justify-content: center;
                svg{
                    width: 21px;
                }
                .admin:active{
                    fill: red;
                }
            }
       
        }
    }
}