<ion-header lines="no">
  <ion-button fill="clear" size="small" class="back-button" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card-title>
    Selected products
  </ion-card-title>
</ion-header>

<ion-content>
  <ion-card class="cart-body" *ngFor="let item of cartItems; let i = index;">
    <ion-label>{{ item.name }}</ion-label>
    <ion-item class="cart-heading-body">
      <span class="product-quantity">{{ item.quantity }}</span>
      <ion-item class="group_left">
        <span class="price">{{ calPrice(item) | number: '1.0-2' }}</span>
        <span class="separation"></span>
        <span class="quantity">{{ item.accessories.length }} accessories</span>
      </ion-item>
      <ion-item class="group-right" slot="end">
        <ion-img src="../../../assets/shopping-cart/deliver-black.svg"></ion-img>
        <span>1 day</span>
      </ion-item>
    </ion-item>
    <p>{{ listAccessoriesName(item) }}</p>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item class="footer-inner">
    <ion-item-group>
      <span class="quantity">{{ cartItems.length }} products</span>
      <ion-item class="group-right">
        <ion-img src="../../../assets/shopping-cart/deliver-black.svg"></ion-img>
        <span>1 day</span>
      </ion-item>
      <span class="price">{{ calTotalPrice(cartItems) | number: '1.0-2'}}</span>
    </ion-item-group>
    <ion-button slot="end" (click)="sendMailQuote()">Send mail quote</ion-button>
  </ion-item>
</ion-footer>