<ion-header  class="ion-padding-horizontal">
  <ion-button fill="clear" size="small" class="back-button" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card-title>{{ title }}</ion-card-title>

  <ion-item-group>
    <ion-icon name="notifications-outline" class="header__icon header__icon-noti" (click)="goToNoti()"></ion-icon>
    <ion-icon name="person-outline" class="header__icon " (click)="goToUserInfo()"></ion-icon>
  </ion-item-group>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of data; let i = index">
      <ion-col size="6" (click)="goToDetail(data[i])" *ngIf="i % 2 == 0">
        <ion-img [src]="data[i].thumb_image.url" class="ion-card--image"></ion-img>
        <ion-item-group>
          <ion-label class="product__name">
            {{ data[i].name }}
          </ion-label>
          <ion-label class="product__name-price" *ngIf="!checkGuestPermission()">
            {{ data[i].price | number: '1.0-2'}}
          </ion-label>
        </ion-item-group>
      </ion-col>
      <ion-col size="6" (click)="goToDetail(data[i + 1])" *ngIf="i % 2 == 0 && i !== data.length - 1">
        <ion-img [src]="data[i + 1].thumb_image.url" class="ion-card--image"></ion-img>
        <ion-item-group>
          <ion-label class="product__name">
            {{ data[i + 1].name }}
          </ion-label>
          <ion-label class="product__name-price" *ngIf="!checkGuestPermission()">
            {{ data[i + 1].price | number: '1.0-2'}}
          </ion-label>
        </ion-item-group>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll #infinityScroll (ionInfinite)="loadData()">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
