ion-content {
  --background: #fff;
}

ion-item {
  --inner-border-width: 0;
  --background: var(--main-color);
}

ion-header {
  background: var(--main-color);
  padding-bottom: 30px;

  .top-group {
    margin-top: 8px;

    ion-img {
      margin-left: -5px;
    }
  }

  .icon-group {
    margin-right: -5px;

    ion-icon {
      color: white;
      margin-left: 12px;
      font-size: 22px;
    }
  }

  ion-searchbar {
    height: 36px;
    margin: 10px auto 20px;
    border-radius: 10px;
    --background: #f3f0f0;
  }

  ion-segment {
    --background: none;
    height: 36px;
    padding-right: 8px;
    padding-left: 8px;

    button {
      background-color: transparent;
      font-size: 12px;
      color: #FC8282;
      width: 25%;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      line-height: 14px;
    }

    .active-segment-btn {
      border: 0;
      outline: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
    }
  }
}

ion-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 163px);
  bottom: 0;
}

ion-grid {
  padding: 4px 8px;
  background-color: #fff;

  ion-row {
    margin: 0 -5px;

    ion-col {
      background-color: #e5e5e5;
      max-width: calc(
        calc(6 / var(--ion-grid-columns, 12)) * 100% - 8px
      ) !important;
      margin: 4px;
      padding: 4px 5px 5px;
      border-radius: 10px;

      ion-img {
        border-radius: 11px;
        overflow: hidden;
        background-color: #fff;
        object-fit: cover;
      }

      .displayBlock {
        display: block;
      }

      ion-item-group {
        background-color: #efefef;
        text-align: center;
        border-radius: 10px;
        padding: 0 2px;
        margin-top: 3px;

        .product__name {
          font-size: 14px;
          text-transform: uppercase;
          color: #2d1b1b;
          margin: 5px;
        }

        .product__name-price {
          font-size: 12px;
          color: #a5a5a5;
          background: white;
          display: inline-block;
          padding: 4px 16px;
          min-width: 70px;
          border-radius: 10px;
          max-width: calc(100% - 4px);
        }
      }
    }
  }
}
