<ion-header>
  <ion-toolbar>
  <app-header-home></app-header-home>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item-group class ="content">
        <ion-grid >
          <ion-row>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
            <ion-col> 
              <ion-card>
                <img src="/assets/demo.jpg" class ="ion-card--image">
                <ion-card-header>
                  <ion-card-subtitle class="ion-card--title">PRODUCT NAME</ion-card-subtitle>
                </ion-card-header>
              <ion-label class = "ion-card-label">
                $Price
              </ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          </ion-grid>
    </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer-nav></app-footer-nav>
  </ion-toolbar>
</ion-footer>