ion-content,
ion-item {
  --background: #efefef;
}

ion-list {
  background: #efefef;
}

ion-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 120px);
  bottom: 0;
}

ion-grid {
  padding: 4px 8px;

  ion-row {
    margin: 0 -5px;
  
    ion-col {
      position: relative;
      height: 210px;

      ion-img {
        border-radius: 11px;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    
      ion-item-group {
        position: absolute;
        left: 8px;
        right: 8px;
        bottom: 8px;
        background-color: rgba(#efefef, 0.9);
        text-align: center;
        border-radius: 10px;
    
        .product__name {
          font-size: 14px;
          text-transform: uppercase;
          color: #2d1b1b;
          margin: 5px;
        }
    
        .product__name-price {
          font-size: 12px;
          color: #a5a5a5;
          background: white;
          display: inline-block;
          padding: 4px 16px;
          min-width: 70px;
          border-radius: 10px;
          max-width: calc(100% - 4px);
        }
      }
    }
  }
}