
<app-header-home></app-header-home>
<ion-content >
  <ion-item-group class ="content">
        <ion-grid >
          <ion-row>
            <ion-col>
              
              <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $23400
              </ion-label>
            </ion-col>
            <ion-col>
              <img src="/assets/img/products/anh2.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $23400
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="/assets/img/products/anh3.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $23400
              </ion-label>
            </ion-col>
            <ion-col>
              <img src="/assets/img/products/anh4.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $2300
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="/assets/img/products/anh1.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $1340
              </ion-label>
            </ion-col>
            <ion-col>
              <img src="/assets/img/products/anh2.jpg" class ="ion-card--image">
              <ion-label class="product__name">
                <ion-label class= "product__name-title"> 
                  Product name
                </ion-label>
              </ion-label>
              <ion-label  class= "product__name-price"> 
                $2340
              </ion-label>
            </ion-col>
          </ion-row>
          </ion-grid>
    </ion-item-group>
</ion-content>
<ion-footer>
  <app-footer-nav></app-footer-nav>
</ion-footer>
