<ion-header>
  <ion-item class="top-group">
    <ion-img src="assets/icon/logo.svg" (click)="gotoHome()" slot="start"></ion-img>
    <ion-item slot="end" class="icon-group">
      <ion-icon name="notifications-outline" (click)="gotoNoti()"></ion-icon>
      <ion-icon name="person-outline" (click)="onGoUserInfo()"></ion-icon>
    </ion-item>
  </ion-item>

  <ion-searchbar (ionInput)="onInput($event)" autocorrect="off" [value]="inputValue"></ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" value="all"
    [ngClass]="{'active-segment-btn ': activeTab === 'all'}">
    <button *ngFor="let filterProduct of filterProducts"
      [ngClass]="{'active-segment-btn': activeTab == filterProduct.id}" [style.width.%]="100 / filterProducts.length" [value]="filterProduct.id" (click)="changeTabs(filterProduct.id)">
      <ion-label>{{ filterProduct.name }}</ion-label>
    </button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-spinner class="absolute-center" *ngIf="!loadedData"></ion-spinner>
  <p class="absolute-center" *ngIf="data.length == 0 && loadedData">Not found products.</p>

  <ion-grid>
    <ion-row *ngFor="let item of data; let i = index">
      <ion-col size="6" (click)="goToDetail(data[i])" *ngIf="i % 2 == 0">
        <ion-img [src]="data[i].thumb_image.url" class="ion-card--image" [style.height.px]="(scrWidth - 40) / 2">
        </ion-img>
        <ion-item-group class="displayBlock">
          <ion-label class="product__name">
            {{ data[i].name }}
          </ion-label>
          <ion-label class="product__name-price" *ngIf="!checkGuestPermission()">
            {{ data[i].price | number: '1.0-2' }}
          </ion-label>
        </ion-item-group>
      </ion-col>
      <ion-col size="6" (click)="goToDetail(data[i + 1])" *ngIf="i % 2 == 0 && i !== data.length - 1">
        <ion-img [src]="data[i + 1].thumb_image.url" class="ion-card--image" [style.height.px]="(scrWidth - 40) / 2">
        </ion-img>
        <ion-item-group class="displayBlock">
          <ion-label class="product__name">
            {{ data[i + 1].name }}
          </ion-label>
          <ion-label class="product__name-price" *ngIf="!checkGuestPermission()">
            {{ data[i + 1].price | number: '1.0-2' }}
          </ion-label>
        </ion-item-group>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll *ngIf="!isMaxData" #infinityScroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <app-footer-nav></app-footer-nav>
</ion-footer> -->