<!-- <ion-item-group class="footer__nav">
  <ion-item-group class="footer__nav-group footer__nav-group--active">
    <ion-icon class="footer__nav-icon" name="home-outline"></ion-icon>
    <ion-label class="footer__nav-label">Home</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="file-tray-outline"></ion-icon>
    <ion-label class="footer__nav-label">Product</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="cart-outline"></ion-icon>
    <ion-label class="footer__nav-label">Cart</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="person-outline"></ion-icon>
    <ion-label class="footer__nav-label">Me</ion-label>
  </ion-item-group>
  
 
</ion-item-group> -->


 <ion-tabs>
   <ion-tab-bar slot ="bottom">
      <ion-tab-button tab ="tab1">
        <ion-icon  name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab ="tab2">
        <ion-icon  name="file-tray-outline"></ion-icon>
        <ion-label>Product</ion-label>
      </ion-tab-button>
      <ion-tab-button tab ="tab3">
        <ion-icon  name="cart-outline"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
      <ion-tab-button tab ="tab3">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label >Me</ion-label>
      </ion-tab-button>

   </ion-tab-bar>
 </ion-tabs> 