// .footer__nav {
//     display: flex;
//     justify-content: space-around;
// }
// .footer__nav-icon {
//     font-size: 14px;
//     color: #797979;
// }
// .footer__nav-group {
//     display: block;
//    text-align: center;
// }
// .footer__nav-label {
//     color: #A5A5A5;
// }
// .ion-toolbar:first-of-type {
//     --border-width: 0 0 0;
// }
// .footer__nav-group.footer__nav-group--active {
//     .footer__nav-icon {
//         color: #FF6E6E;
//     }
//     .footer__nav-label {
//         color: #FF6E6E;
//     }
   
// }
:host {
    background-color: white;
    ion-tabs {
        
        ion-tab-bar {
            height: 100px;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            background-color: #F8F8F8 !important;
            ion-tab-button {
                background-color: #f8f8f8;
                border-top-right-radius: 35px;
                border-top-left-radius: 35px;
                display: flex;
                justify-content: center;
                svg{
                    width: 21px;
                }
                .admin:active{
                    fill: red;
                }
            }
       
        }
    }
}