<ion-item-group class="footer__nav">
  <ion-item-group class="footer__nav-group footer__nav-group--active">
    <ion-icon class="footer__nav-icon" name="home-outline"></ion-icon>
    <ion-label class="footer__nav-label">Home</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="file-tray-outline"></ion-icon>
    <ion-label class="footer__nav-label">Product</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="cart-outline"></ion-icon>
    <ion-label class="footer__nav-label">Cart</ion-label>
  </ion-item-group>
  <ion-item-group class="footer__nav-group">
    <ion-icon class="footer__nav-icon" name="person-outline"></ion-icon>
    <ion-label class="footer__nav-label">Me</ion-label>
  </ion-item-group>
  
 
</ion-item-group>

