/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
    --main-color:#ce091c;
    --title-color:#1c1939;
    --color-input: #F7F7F7;
}
 .btn-main {
   width: 100%;
   border-radius: 4px;
   --background: var(--main-color);
   color: white;
   margin-bottom: 44px;
   height: 40px;
   margin-inline-start: 0;
   margin-inline-end: 0;
   --background-activated: var(--main-color); 
 }
