<ion-header>
    <ion-row no-lines>
        <ion-col class="ion-heading">
            <ion-img class="ion-heading__element__back" src="../../assets/back.svg"></ion-img>
            <ion-lab class="ion-heading__element__text">SHOPPING CART</ion-lab>
            <ion-img class="ion-heading__element__shop-icon" src="../../assets/shopping.svg"></ion-img>
        </ion-col>
    </ion-row>
</ion-header>
<ion-content>
    <ion-card class="section__main">
        <ion-card class="section__sub">
            <ion-grid>
                <ion-row>
                    <ion-label class="item__header">Item 12/12/1212</ion-label>

                    <ion-img class="item__cancel" src="../../assets/x-icon.svg"></ion-img>
                </ion-row>
            </ion-grid>

            <ion-item class="detail__wrapper" lines="none">
                <ion-item class="item__price-tag">
                        450$
                        <ion-img class="item__price-tag__slash" src="../../assets/slash.svg"></ion-img>
                        3 Products
                </ion-item>
                <ion-img class="item__deliver-icon" src="../../assets/delive.svg" end></ion-img>
                <ion-label class="item__day-to-delive">1 day</ion-label>              
            </ion-item> 
            <ion-card-content class="item__detail">Product Product Product, Product Product, Product, Product ...</ion-card-content>
        </ion-card>

        <ion-card class="section__sub">
            <ion-grid>
                <ion-row>
                    <ion-label class="item__header">Item 12/12/1212</ion-label>

                    <ion-img class="item__cancel" src="../../assets/x-icon.svg"></ion-img>
                </ion-row>
            </ion-grid>

            <ion-item class="detail__wrapper" lines="none">
                <ion-item class="item__price-tag">
                        450$
                        <ion-img class="item__price-tag__slash" src="../../assets/slash.svg"></ion-img>
                        3 Products
                </ion-item>
                <ion-img class="item__deliver-icon" src="../../assets/delive.svg" end></ion-img>
                <ion-label class="item__day-to-delive">1 day</ion-label>              
            </ion-item> 
            <ion-card-content class="item__detail">Product Product Product, Product Product, Product, Product ...</ion-card-content>
        </ion-card>

        <ion-card class="section__sub">
            <ion-grid>
                <ion-row>
                    <ion-label class="item__header">Item 12/12/1212</ion-label>

                    <ion-img class="item__cancel" src="../../assets/x-icon.svg"></ion-img>
                </ion-row>
            </ion-grid>

            <ion-item class="detail__wrapper" lines="none">
                <ion-item class="item__price-tag">
                        450$
                        <ion-img class="item__price-tag__slash" src="../../assets/slash.svg"></ion-img>
                        3 Products
                </ion-item>
                <ion-img class="item__deliver-icon" src="../../assets/delive.svg" end></ion-img>
                <ion-label class="item__day-to-delive">1 day</ion-label>              
            </ion-item> 
            <ion-card-content class="item__detail">Product Product Product, Product Product, Product, Product ...</ion-card-content>
        </ion-card>
    </ion-card>

</ion-content>