ion-content {
  --background: #efefef;
}

ion-card {
  padding: 20px 10px 25px;
  margin: 0;
}

ion-item {
  --inner-border-width: 0;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
ion-header {
  display: flex;
  background: #ce091c;
  align-items: center;
  height: 100px;
  .icon-back {
    font-size: 27px;
    color: white;
    margin-right: 70px;

  }
  ion-card-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: 320px) {
      font-size: 16px;
    }
  }
}

ion-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 160px);
  bottom: 80px;
  --padding-start: 13px;
  --padding-top: 13px;
  --padding-end: 13px;
  --padding-bottom: 13px;
}

.cart-body {
  --background: #fff;
  margin-bottom: 30px;
  position: relative;
  overflow: visible;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

  ion-label {
    color: #515151;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
  }

  .cart-heading-body {
    --background: #f9f9fb;
    margin-bottom: 20px;

    .group-right {
      --background: #f9f9fb;
    }
  }
}

.cart-heading-body {
  border-radius: 999px;
  --padding-start: 0;
  margin-top: 10px;

  .group_left {
    --background: linear-gradient(90deg, #e52d27 -0.02%, #b31217 99.98%);
    border-radius: 999px;
    color: white;
    font-size: 14px;
    min-width: 86px;

    @media screen and (max-width: 360px) {
      font-size: 12px;
    }

    @media screen and (max-width: 320px) {
      font-size: 10px;
    }

    .price {
      padding-right: 10px;
    }

    .separation {
      width: 1px;
      height: 37px;
      background: #fff;
    }

    .quantity {
      padding-left: 10px;
      text-align: center;
    }
  }

  .group-right {
    --background: #f9f9fb;
    font-size: 14px;
    color: #1c1939;
    margin: 0 -10px 0 0;

    span {
      margin-left: 5px;
    }
  }
}

.modifier {
  display: inline-block;
  border-radius: 999px;
  background: white;
  padding: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

  .modifier-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#2d2d2d, 0.15);
    padding: 9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #91e29b;
    font-size: 18px;
  }

  .counter {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
  }
}

.remove-btn {
  position: absolute;
  top: 7px;
  right: 9px;
  font-size: 27px;
}

.selectedBtn {
  border: 4px solid #bbbaba;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

ion-footer {
  box-shadow: 0px -1px 7px rgba(black, 0.4);
  z-index: 11;

  .footer-inner {
    --min-height: 80px;
    --background: #efefef;
  }

  ion-item-group {
    color: #727272;

    span {
      display: block;
    }

    .total-text {
      font-size: 12px;
    }

    .quantity-products {
      font-size: 14px;
      font-weight: 700;
    }

    .quantity-accessories {
      font-size: 14px;
      color: #b1b1b1;
    }
  }

  ion-button {
    height: 50px;
    min-width: 120px;
    font-size: 15px;
    color: white;
    --border-radius: 999px;
    --background: #91e29b;
  }
}

.accessories {
  font-size: 12px;
  max-height: 150px;
  overflow-y: auto;

  .price-group {
    width: 50px;
    text-align: right;
    margin-top: 16px;

    span {
      color: #515151;
      display: block;
      line-height: 25px;
    }
  }

  .quantity-group {
    background: #f8f8f8;
    border-radius: 6px;
    margin: 0 8px;
    padding: 6px 0 4px;
    text-align: center;

    .title {
      margin-bottom: 3px;
      display: inline-block;
      color: #91e29b;
    }

    div {
      display: flex;
      align-items: center;
      margin: 4px 3px;

      &:active .quantity {
        border: 1px solid #d8d8d8;
        background: #fff;
      }

      &:active .title {
        border: 1px solid #d8d8d8;
        background: #fff;
      }

      span {
        display: inline-block;
      }

      .quantity {
        color: #515151;
        background: #EBE9E9;
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        border-radius: 5px;
        margin: 0 2px;
        border: 1px solid #fae6e6;
      }

      .modifier-btn {
        color: #9d9d9d;
        background: #fff;
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        font-size: 20px;
      }
    }
  }

  .name-group {
    color: #515151;
    margin-top: 16px;

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
@media screen and (max-width: 410px) {
  ion-footer {
    ion-button {
          width: 120px;
    height: 48px;
    font-size: 13px;
    }
  }
}