<ion-content>
    <ion-row>
        <ion-col class="ion-heading">
            <ion-icon class="ion-heading__element__button" name="chevron-back-outline" class="icon-back"routerLink="/home">
            </ion-icon>
            <ion-lab class="ion-heading__element__text">SHOPPING CART</ion-lab>
            <ion-img  class="ion-heading__element__shop-icon" src="../../assets/shopping.svg"></ion-img>
        </ion-col>
    </ion-row>
   
    <ion-card class="section__main">
        <ion-card class="section__sub">
            <ion-header class="item__header">Item 12/12/1212</ion-header>

            <ion-item class="detail__wrapper">
                <ion-item class="item__price-tag">
                    <ion-label >450$ | 3 Product</ion-label>
                </ion-item>
                
                <ion-img class="item__deliver-icon" src="../../assets/delive.svg"></ion-img>
                <ion-label class="item__day-to-delive">1 day</ion-label>
            </ion-item> 
            <ion-label>Product Product Product, Product Product Product, ...
            </ion-label>
        </ion-card>
    </ion-card>

</ion-content>