<ion-header>
  <ion-row no-lines>
    <ion-col class="ion-heading">
      <ion-img class="ion-heading__element__back" src="../../assets/img/shopping-cart/back.svg"
        *ngIf="hasTF" (click)="goBack()"></ion-img>
      <ion-label class="ion-heading__element__text" >SHOPPING CART</ion-label>
      <ion-icon name="cart-outline"class="ion-heading__element__shop-icon"></ion-icon>
    
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-grid>
    <div *ngFor="let item of items ;let indexOfelement = index;">
      <ion-card class="section__sub" >
        <ion-grid >
          <ion-row>
            <ion-label class="item__header">{{ item.name + " " + item.date }}</ion-label>
            <ion-img class="item__cancel" src="../../assets/i mg/shopping-cart/x-icon.svg" (click)="onCancel(item)"></ion-img>
          </ion-row>
        </ion-grid>
        <ion-item class="detail__wrapper" lines="none">
          <ion-item class="item__price-tag">
            {{ item.price + "$" }}
            <ion-img class="item__price-tag__slash" src="../../assets/img/shopping-cart/slash.svg"></ion-img>
            {{ item.numberProduct + "Product"}}
          </ion-item>
          <ion-item-group slot="end">
            <ion-img src="../../assets/img/shopping-cart/delive.svg" ></ion-img>
            <ion-label class="item__day-to-delive">{{ item.dayToDelivery + "day" }}</ion-label>
          </ion-item-group>
         
        </ion-item>
        <ion-card-content class="item__detail">{{ item.description }}</ion-card-content>
      </ion-card>
      <ion-item class="section__button" no-padding lines="none" position="fixed">
        <ion-img src="../../assets/img/shopping-cart/minus.svg" class="section__button__minus" (click)="minus(item)"></ion-img>
        <span class="item-counter"> {{ item.counter }} </span>
        <ion-img src="../../assets/img/shopping-cart/add.svg" class="section__button__add" (click)="add(item)"></ion-img>
      </ion-item>
    </div>
  </ion-grid>
  
</ion-content>