<ion-header>
  <ion-buttons>
    <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    <ion-label>Detail product</ion-label>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="cart-wrapper" (click)="goToCart()">
    <img src="assets/detail-product/cart.svg" class="cart-btn">
    <span>+{{ cartItems.length }}</span>
  </div>

  <span class="no-internet-popup" *ngIf="!isOnline">No internet connection</span>

  <ion-img [src]="product.thumb_image.url" class="main-img" *ngIf="loadedProduct"></ion-img>
  <ion-card class="product-content">
    <ion-backdrop *ngIf="!loadedProduct"></ion-backdrop>

    <ion-buttons class="product-name-wrapper">
      <ion-label class="product-name">{{ product.name }}</ion-label>
      <span class="product-price" *ngIf="!checkGuestPermission()">
        <ion-label class="product__price-unit"  *ngIf="product.price !== 0">$</ion-label>
        <ion-label  *ngIf="product.price === 0">Request for quotes</ion-label>
        <ion-label  *ngIf="product.price !== 0"> {{ product.price | number: '1.2-2' }}</ion-label>
       
      </span>
    </ion-buttons>
    <!-- <ion-label style="color: #424242; font-size: 15px; margin-left: 16px;">Info</ion-label> -->
    <p class="product-desc">{{ product.description }}</p>
    <p *ngIf="checkPremiumPermission()" class="technical">
      Technical drawings <br>
      <span class="link" (click)="downloadTechnical()">https://docs.google.com/d...</span>
      <ion-img class="download-icon" src="assets/detail-product/download.svg" (click)="downloadTechnical()"></ion-img>
    </p>
  </ion-card>
</ion-content>

<ion-footer *ngIf="loadedProduct">
  <ion-button expand="block" (click)="openModalAdd()">Add to cart</ion-button>
  <p *ngIf="!checkGuestPermission()">We will show detail component of product after you receive the item!</p>
</ion-footer>