<ion-content class="product-info">
  <ion-card>
    <ion-card-header>
        <ion-button fill="clear" size="small" class="ion-no-padding">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-card-title>Information product</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="img-block">
        <ion-img src="http://lorempixel.com/g/334/170/abstract" ></ion-img>
      </div>

      <ion-card-subtitle>Product name</ion-card-subtitle>
      <ul>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
        <li>Lorem ipsum dolor, sit amet consectetur hfdjfdhff</li>
      </ul>
      <div class="ion-text-right">
        <ion-button size="small">Detail <ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="accessories">
    <ion-card-header class="ion-text-left">
      <ion-card-subtitle>Accessories</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <div class="product-img-block" slot="start">

            <ion-img src="http://lorempixel.com/g/100/100/abstract" class="product-img"></ion-img>

            <ion-img src="http://lorempixel.com/g/100/100/abstract"></ion-img>

          </div>
          <div class="content-block">
            <ion-label>Accessories</ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit?</p>
          </div>
        </ion-item>
        <ion-item>
          <div class="product-img-block" slot="start">
            <img src="http://lorempixel.com/g/100/100/abstract">
          </div>
          <div class="content-block">
            <ion-label>Accessories</ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit?</p>
          </div>
        </ion-item>
        <ion-item>
          <div class="product-img-block" slot="start">
            <img src="http://lorempixel.com/g/100/100/abstract">
          </div>
          <div class="content-block">
            <ion-label>Accessories</ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit?</p>
          </div>
        </ion-item>
        <ion-item>
          <div class="product-img-block" slot="start">
            <img src="http://lorempixel.com/g/100/100/abstract">
          </div>
          <div class="content-block">
            <ion-label>Accessories</ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit?</p>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>