ion-content,
ion-item {
  --background: #efefef;
}

ion-list {
  background: #efefef;
}

ion-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  --overflow: hidden;
  z-index: 11;
  position: absolute;
  height: calc(100% - 80px);
  bottom: 0;
}

ion-header {
  background: #232323;
  padding-bottom: 30px;

  ion-buttons {
    position: relative;
    height: 100px;

    ion-back-button {
      color: #fff;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }

    ion-label {
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      margin: 0 auto;
      text-transform: uppercase;
      padding-left: 56px;
      padding-right: 56px;
    }
  }
}

.heading {
  --background: white;
  --color: #515151;
  opacity: 1;
  --box-shadow: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  --border-radius: 14px;
  height: 45px;
}

ion-list {
  height: calc(100% - 45px - 20px);
  margin-top: 20px;
  text-align: center;

  ion-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 260px;

    ion-img,
    .icon-container {
      width: 42px;
      height: 42px;
      margin-right: 20px;
      border-radius: 10px;
    }

    ion-img {
      padding: 10px;
    }

    .icon-container {
      font-size: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-card-subtitle {
      text-transform: none;
      --color: #636363;
      font-weight: 700;
      font-size: 16px;
    }

    ion-label {
      --color: #515151;
      font-size: 15px;
    }
  }
}

.child-button {
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  color: #6d6d6d;
}

.line-bottom,
.line-top {
  width: 4px;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  background-color: #dededf;

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    transform: translateY(-5px);
  }
}

.line-top {
  background-color: #93e29d;
  transform: translateX(-135px) translateY(0);
}
