<ion-header [ngClass]="{'active-bg': activeTab === 'orderHistory'}">
    <ion-row no-lines>
        <ion-col class="heading">
            ORDER LIST
        </ion-col>
    </ion-row>
    <ion-segment (ionChange)="segmentChanged($event)" value="orderStatus"
        [ngClass]="{'active-bg-segment ': activeTab === 'orderHistory'}">
        <button (click)="changeTabs('orderStatus')"
            [ngClass]="{'active-btn-status':activeTab === 'orderStatus', 'active-btn-status-h':activeTab==='orderHistory'}"
            class="button-segment" value="orderStatus">
            <ion-label>Order status</ion-label>
        </button>
        <button (click)="changeTabs('orderHistory')" [ngClass]="{'active-btn-history':activeTab === 'orderHistory'}"
            class="button-segment" value="orderHistory">
            <ion-label>History</ion-label>
        </button>
    </ion-segment>
</ion-header>


<ion-content [ngClass]="{'active-bg-content': activeTab === 'orderHistory'}">
    <ion-card class="section__main">
        <ion-list style="background-color: #EFEFEF" *ngIf="checkTab">
            <ion-card class="section__sub" *ngFor="let item of data">
                <ion-grid>
                    <ion-row>
                        <ion-label class="item__header">{{ item.id }}</ion-label>
                    </ion-row>
                </ion-grid>
                <ion-item class="detail__wrapper" lines="none">
                    <ion-item class="item__price-tag">
                        {{ item.status }}
                        <ion-img class="item__price-tag__slash" src="../../../assets/img/shopping-cart/slash.svg"></ion-img>
                        {{ calProductQuantity(item) }} Products
                    </ion-item>
                    <ion-img class="item__order-status" src="../../assets/order-status.svg"></ion-img>
                    <ion-img class="item__deliver-icon" src="../../../assets/img/shopping-cart/delive.svg"></ion-img>
                    <ion-label class="item__day-to-delive">1 day</ion-label>
                </ion-item>
                <p class="item__detail">{{ listProductsName(item) }}
                </p>
                <ion-button lines="none" class="btn btn-detail" size="small" (click)="gotoDetailOrder()">Detail
                </ion-button>
                <ion-button lines="none" class="btn btn-status" size="small" (click)="gotoOrderStatus()">Status
                </ion-button>
            </ion-card>
        </ion-list>
        <ion-list style="background-color: #EFEFEF" *ngIf="!checkTab">
            <ion-card class="section__sub">
                <ion-grid>
                    <ion-row>
                        <ion-label class="item__header">Item 12/12/1212</ion-label>
                    </ion-row>
                </ion-grid>
                <ion-item class="detail__wrapper" lines="none">
                    <ion-item class="item__price-tag">
                        Sent Request
                        <ion-img class="item__price-tag__slash" src="assets/shopping-cart/slash.svg"></ion-img>
                        3 Products
                    </ion-item>
                </ion-item>
                <ion-card-content class="item__detail">Product Product Product, Product Product, Product, Product ...
                </ion-card-content>
                <ion-button lines="none" class="btn" size="small">Re-order</ion-button>
            </ion-card>
        </ion-list>
    </ion-card>
</ion-content>